@font-face {
    font-family: 'Amaranth';
    src: url(amaranth-fontface/Amaranth-Regular.woff2) format('woff2'),
        url(amaranth-fontface/Amaranth-Regular.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --box-shadow-header: #5a5a5a;
    --box-shadow-book-card-outer: #a4a4a4;

    --font-family: 'Amaranth';
}

body {
    font-family: var(--font-family);
}

.header {
    height: 100px;

    background: linear-gradient(155deg, rgba(70, 202, 228, 1) 0%, rgba(0, 167, 108, 0.6769301470588236) 77%);

    box-shadow: 1px 0px 14px 12px var(--box-shadow-header);
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: 300px;
    justify-content: center;
    justify-items: center;
    gap: 3em 3em;

    margin-top: 7em;
    padding: 2em;
}

.book-card-outer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1.25em;

    box-shadow: 10px 10px 20px 0px var(--box-shadow-book-card-outer);
}

.book-card-inner {
    width: 73%;
    height: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    gap: 1em;
}