@font-face {
    font-family: 'Amaranth';
    src: url(amaranth-fontface/Amaranth-Regular.woff2) format('woff2'),
        url(amaranth-fontface/Amaranth-Regular.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --border-color-h2-pseudoelement: #808080;
    --color-h3: #fff;
    --color-form-widgets: #fff;

    --box-shadow-header: #5a5a5a;
    --box-shadow-book-card-outer: #a4a4a4;
    --box-shadow-show-modal-button: #808080;
    --box-shadow-show-modal-button-inset: #fff;
    --box-shadow-show-modal-button-hover: #f8f8ff;
    --box-shadow-read-status-button-hover: #d6d6d6;
    --box-shadow-read-status-button-hover-inset: #fff;
    --box-shadow-delete-book-button: #d6d6d6;
    --box-shadow-delete-book-button-inset: #fff;

    --bgc-show-modal-button: #ffc151;
    --bgc-delete-book-button: #fa8072;
    --bgc-read-status-button: #ffc151;

    --font-family: 'Amaranth';
}

body {
    position: relative;

    font-family: var(--font-family);
}

h2 {
    justify-self: center;
    align-self: start;
    grid-column: 1 / 3;

    font-size: 1.6rem;
}

h2::after {
    content: '';
    width: 100%;

    position: absolute;
    top: 20%;
    left: 0;

    border: 0.02em solid var(--border-color-h2-pseudoelement);
}

p {
    font-size: 1.2rem;
}

.book-card-inner p:first-of-type {
    grid-column: 1 / 3;
}

.book-card-inner p:nth-of-type(2) {
    grid-row: 3 / 4;
}

.book-card-inner p:nth-of-type(3) {
    grid-row: 4 / 5;
}

h3 {
    padding-top: 1.5em;
    font-size: 2rem;
    letter-spacing: 0.05em;

    color: var(--color-h3);
}

.header {
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(155deg, rgba(70, 202, 228, 1) 0%, rgba(0, 167, 108, 0.6769301470588236) 77%);

    box-shadow: 1px 0px 14px 12px var(--box-shadow-header);
}

.show-modal-button {
    width: 4em;
    height: 4em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 4px solid var(--bgc-show-modal-button);

    background-color: var(--bgc-show-modal-button);
    box-shadow: 0px 0px 14px var(--box-shadow-show-modal-button),
        inset 0px -0.8px 1.6px 0.5px var(--box-shadow-show-modal-button-inset);

    transition: all 0.8s;
}

.show-modal-button:hover {
    box-shadow: 0px 0px 14px var(--box-shadow-show-modal-button-hover),
        inset 0px -0.8px 1.6px 0.5px var(--box-shadow-show-modal-button-inset);

}

.show-modal-button::after {
    content: url(icons/plus-addbook-icon.svg);

    width: 1.5em;
    height: 1.5em;

    display: block;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: 300px;
    justify-content: center;
    justify-items: center;
    gap: 3em 3em;

    margin-top: 7em;
    padding: 2em;
}

.book-card-outer {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1.25em;

    box-shadow: 10px 10px 20px 0px var(--box-shadow-book-card-outer);
}

.book-card-inner {
    width: 80%;
    height: 70%;

    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    gap: 1em;
}

.read-status-button {
    position: absolute;

    grid-area: 4 / 2;
    justify-self: end;

    width: 70%;

    border-radius: 0.8em;
    border: none;
    padding: 0.5em 1em;

    font-family: inherit;
    font-size: 1rem;

    background-color: var(--bgc-read-status-button);

    transition: all 0.2s;
}

.read-status-button:hover {
    width: 76%;

    font-size: 1.1rem;

    box-shadow: 0px 10px 10px 3px var(--box-shadow-read-status-button-hover),
        inset 0px -0.8px 0px 0px var(--box-shadow-read-status-button-hover-inset);
}

.delete-book-button {
    position: absolute;
    top: -12%;
    right: -7.5%;

    width: 1.8em;
    height: 1.8em;

    border-radius: 50%;
    border: 2px solid var(--bgc-delete-book-button);
    padding: 0;

    font-size: 1rem;

    background-color: var(--bgc-delete-book-button);
    box-shadow: 0px 10px 10px 3px var(--box-shadow-delete-book-button),
        inset 0px -0.8px 0px 0px var(--box-shadow-delete-book-button-inset);

    transition: all 0.2s;
}

.delete-book-button::after {
    content: url(icons/cross-removebook-icon.svg);

    width: 1.5em;
    height: 1.5em;

    font-size: 1.8em;

    color: #ffffff;
}

.delete-book-button:active {
    width: 1.5em;
    height: 1.5em;

    right: -6.5%;

    box-shadow: 0px 2.5px 2.5px 1px var(--box-shadow-delete-book-button),
        inset 0px -0.8px 0px 0px var(--box-shadow-delete-book-button-inset);
}

.delete-book-button:active::after {
    font-size: 1.5em;
}

.modal-box {
    position: sticky;
    top: 20%;

    max-width: 400px;
    width: 80%;

    margin: auto;
    border: 2px solid black;

    background: rgb(0, 0, 0, 0.8);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

    padding-bottom: 2em;
}

form div {
    display: flex;
    flex-direction: row-reverse;
    /*The row-reverse is to switch the position of the checkbox input and its label*/
    justify-content: center;
    align-items: center;
    gap: 2em;
}

input,
label {
    appearance: none;
    outline: none;

    color: var(--color-form-widgets);
}

label {
    opacity: 0.3;
}

input {
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0.5em;

    font-size: 1.2rem;

    background: inherit;
}

.mask {
    position: absolute;
    top: 0;

    width: 100%;
    min-height: 100vh;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);
}